<div class="row  pl-2">
    <div class="col-md-12 shadow-sm border  pb-2 bg-white text-dark">
        <div class="p-2 row p-0">
            <div class="col-12 m-0 p-0">
                <h2  class="boxesWline linkColor">قیمت خودروهای پر فروش </h2>
            </div>
        </div>
        <div class="row  mt-0 pb-2">
            <div class="col-md-12">
                <div align="center ">
                    <span class="text-success fa fa-circle pr-1">&nbsp;</span>به روز رسانی شنبه 4 خرداد
                </div>
            </div>



        </div>
        <div class="row  mt-1  border-top">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-6 border-bottom  border-left p-2" >
                        <div align="center ">پراید</div>

                    </div>
                    <div class="col-6 border-bottom ">
                        <div align="center ">37,000,000</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 border-bottom  border-left p-2" >
                        <div align="center ">سمند EF7</div>

                    </div>
                    <div class="col-6 border-bottom ">
                        <div align="center ">67,000,000</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 border-bottom  border-left p-2" >
                        <div align="center ">پژو پارس سال</div>

                    </div>
                    <div class="col-6 border-bottom ">
                        <div align="center ">88,000,000</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 border-bottom  border-left p-2" >
                        <div align="center ">پراید</div>

                    </div>
                    <div class="col-6 border-bottom ">
                        <div align="center ">37,000,000</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 border-bottom  border-left p-2" >
                        <div align="center ">سمند EF7</div>

                    </div>
                    <div class="col-6 border-bottom ">
                        <div align="center ">67,000,000</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 border-bottom  border-left p-2" >
                        <div align="center ">پژو پارس سال</div>

                    </div>
                    <div class="col-6 border-bottom ">
                        <div align="center ">88,000,000</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 border-bottom  border-left p-2" >
                        <div align="center ">پراید</div>

                    </div>
                    <div class="col-6 border-bottom ">
                        <div align="center ">37,000,000</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 border-bottom  border-left p-2" >
                        <div align="center ">سمند EF7</div>

                    </div>
                    <div class="col-6 border-bottom ">
                        <div align="center ">67,000,000</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 border-bottom  border-left p-2" >
                        <div align="center ">پژو پارس سال</div>

                    </div>
                    <div class="col-6 border-bottom ">
                        <div align="center ">88,000,000</div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<div class="row mt-2  pl-2">
    <div class="col-md-12 shadow-sm border  pb-2 bg-white text-dark">
        <div class="p-2 row p-0">
            <div class="col-12 m-0 p-0">
                <h2  class="boxesWline linkColor">اخبار خودرویی </h2>
            </div>
        </div>
        <div class="row  mt-1">
            <div class="col-md-12 sideBarBox">
                <div class="row">
                    <div class="col-1 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-10 border-bottom sideBarLink">
                        <a href="#" class="custom-link text-dark" >احتمال کاهش قیمت خودروی های داخلی </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 sideBarBox">
                <div class="row">
                    <div class="col-1 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-10  border-bottom sideBarLink">
                        <a href="#" class="custom-link text-dark" >واردات خودروهای با ظرفیت بیشتر از 2000 ممنوع شد</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 sideBarBox">
                <div class="row">
                    <div class="col-1 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-10 border-bottom sideBarLink">
                        <a href="#" class="custom-link text-dark" >احتمال کاهش قیمت خودروی های داخلی </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 sideBarBox">
                <div class="row">
                    <div class="col-1 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-10  border-bottom sideBarLink">
                        <a href="#" class="custom-link text-dark" >واردات خودروهای با ظرفیت بیشتر از 2000 ممنوع شد</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 sideBarBox">
                <div class="row">
                    <div class="col-1 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-10 border-bottom sideBarLink">
                        <a href="#" class="custom-link text-dark" >احتمال کاهش قیمت خودروی های داخلی </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 sideBarBox">
                <div class="row">
                    <div class="col-1 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-10  border-bottom sideBarLink">
                        <a href="#" class="custom-link text-dark" >واردات خودروهای با ظرفیت بیشتر از 2000 ممنوع شد</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="row mt-2 make-me-sticky2 pl-2">
    <div class="col-md-12 shadow-sm border  pb-2 bg-white text-dark">
        <div class="p-2 row p-0">
            <div class="col-12 m-0 p-0">
                <h2  class="boxesWline linkColor">اخبار سقف مردم </h2>
            </div>
        </div>
        <div class="row  mt-1 ">
            <div class="col-md-12 sideBarBox">
                <div class="row">
                    <div class="col-1 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-10 border-bottom sideBarLink">
                        <a href="#" class="custom-link text-dark" >خبر های گروه سقف مردم </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 sideBarBox">
                <div class="row">
                    <div class="col-1 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-10  border-bottom sideBarLink">
                        <a href="#" class="custom-link text-dark" >خبر های گروه سقف مردم</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 sideBarBox">
                <div class="row">
                    <div class="col-1 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-10 border-bottom sideBarLink">
                        <a href="#" class="custom-link text-dark" >خبر های گروه سقف مردم </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 sideBarBox">
                <div class="row">
                    <div class="col-1 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-10  border-bottom sideBarLink">
                        <a href="#" class="custom-link text-dark" >خبر های گروه سقف مردم</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 sideBarBox">
                <div class="row">
                    <div class="col-1 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-10 border-bottom sideBarLink">
                        <a href="#" class="custom-link text-dark" >خبر های گروه سقف مردم </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 sideBarBox">
                <div class="row">
                    <div class="col-1 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-10  border-bottom sideBarLink">
                        <a href="#" class="custom-link text-dark" >خبر های گروه سقف مردم</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 sideBarBox">
                <div class="row">
                    <div class="col-1 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-10 border-bottom sideBarLink">
                        <a href="#" class="custom-link text-dark" >خبر های گروه سقف مردم </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 sideBarBox">
                <div class="row">
                    <div class="col-1 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-10  border-bottom sideBarLink">
                        <a href="#" class="custom-link text-dark" >خبر های گروه سقف مردم</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 sideBarBox">
                <div class="row">
                    <div class="col-1 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-10 border-bottom sideBarLink">
                        <a href="#" class="custom-link text-dark" >خبر های گروه سقف مردم </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 sideBarBox">
                <div class="row">
                    <div class="col-1 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-10  border-bottom sideBarLink">
                        <a href="#" class="custom-link text-dark" >خبر های گروه سقف مردم</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 sideBarBox">
                <div class="row">
                    <div class="col-1 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-10 border-bottom sideBarLink">
                        <a href="#" class="custom-link text-dark" >خبر های گروه سقف مردم </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 sideBarBox">
                <div class="row">
                    <div class="col-1 " >
                        <span class="linkT">&blacksquare;</span>

                    </div>
                    <div class="col-10  border-bottom sideBarLink">
                        <a href="#" class="custom-link text-dark" >خبر های گروه سقف مردم</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>