<div class="row  make-me-sticky2 ">
    <div class="col-md-12 shadow-sm border  bg-white text-dark">
        <div class="p-2 row p-0">
            <div class="col-12 m-0 p-0">
                <h2  class="boxesWline linkColor">آگهی های خودرو </h2>
            </div>
        </div>
        <div class="row  mt-1">
            <div class="col-md-12 ">
                <div class="row">
                    <div class="col-6">
                        <span class="carSideBarTitle">  پورشه باکستر مدل 2014 یکسال بیمه ثالث و بدنه </span><br>
                        <span class="carSideBarCity">تهران</span><br>
                        <span class="carSideBarTime">لحظاتی پیش</span>
                    </div>
                    <div class="col-6">
                        <img src="car1.jpg" style="width: 100%">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <span class="carSideBarTitle">  پورشه باکستر مدل 2014 یکسال بیمه ثالث و بدنه </span><br>
                        <span class="carSideBarCity">تهران</span><br>
                        <span class="carSideBarTime">لحظاتی پیش</span>
                    </div>
                    <div class="col-6">
                        <img src="car2.jpg" style="width: 100%">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <span class="carSideBarTitle">  پورشه باکستر مدل 2014 یکسال بیمه ثالث و بدنه </span><br>
                        <span class="carSideBarCity">شیراز</span><br>
                        <span class="carSideBarTime">یک روز پیش</span>
                    </div>
                    <div class="col-6">
                        <img src="car3.jpg" style="width: 100%">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <span class="carSideBarTitle">  پورشه باکستر مدل 2014 یکسال بیمه ثالث و بدنه </span><br>
                        <span class="carSideBarCity">مشهد</span><br>
                        <span class="carSideBarTime">دو ریز پیش</span>
                    </div>
                    <div class="col-6">
                        <img src="car4.jpg" style="width: 100%">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <span class="carSideBarTitle">  پورشه باکستر مدل 2014 یکسال بیمه ثالث و بدنه </span><br>
                        <span class="carSideBarCity">تهران</span><br>
                        <span class="carSideBarTime">لحظاتی پیش</span>
                    </div>
                    <div class="col-6">
                        <img src="car1.jpg" style="width: 100%">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <span class="carSideBarTitle">  پورشه باکستر مدل 2014 یکسال بیمه ثالث و بدنه </span><br>
                        <span class="carSideBarCity">تهران</span><br>
                        <span class="carSideBarTime">لحظاتی پیش</span>
                    </div>
                    <div class="col-6">
                        <img src="car2.jpg" style="width: 100%">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <span class="carSideBarTitle">  پورشه باکستر مدل 2014 یکسال بیمه ثالث و بدنه </span><br>
                        <span class="carSideBarCity">شیراز</span><br>
                        <span class="carSideBarTime">یک روز پیش</span>
                    </div>
                    <div class="col-6">
                        <img src="car3.jpg" style="width: 100%">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <span class="carSideBarTitle">  پورشه باکستر مدل 2014 یکسال بیمه ثالث و بدنه </span><br>
                        <span class="carSideBarCity">مشهد</span><br>
                        <span class="carSideBarTime">دو ریز پیش</span>
                    </div>
                    <div class="col-6">
                        <img src="car4.jpg" style="width: 100%">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <span class="carSideBarTitle">  پورشه باکستر مدل 2014 یکسال بیمه ثالث و بدنه </span><br>
                        <span class="carSideBarCity">تهران</span><br>
                        <span class="carSideBarTime">لحظاتی پیش</span>
                    </div>
                    <div class="col-6">
                        <img src="car1.jpg" style="width: 100%">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <span class="carSideBarTitle">  پورشه باکستر مدل 2014 یکسال بیمه ثالث و بدنه </span><br>
                        <span class="carSideBarCity">تهران</span><br>
                        <span class="carSideBarTime">لحظاتی پیش</span>
                    </div>
                    <div class="col-6">
                        <img src="car2.jpg" style="width: 100%">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <span class="carSideBarTitle">  پورشه باکستر مدل 2014 یکسال بیمه ثالث و بدنه </span><br>
                        <span class="carSideBarCity">شیراز</span><br>
                        <span class="carSideBarTime">یک روز پیش</span>
                    </div>
                    <div class="col-6">
                        <img src="car3.jpg" style="width: 100%">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <span class="carSideBarTitle">  پورشه باکستر مدل 2014 یکسال بیمه ثالث و بدنه </span><br>
                        <span class="carSideBarCity">مشهد</span><br>
                        <span class="carSideBarTime">دو ریز پیش</span>
                    </div>
                    <div class="col-6">
                        <img src="car4.jpg" style="width: 100%">
                    </div>
                </div>
                <hr>
            </div>


        </div>

    </div>
</div>